/*connect tab sites*/
.FlywheelSites.__FadeIn .TabNav_Items_3Zncp_v8-4-2 {
	width: 100%;
    display: flex;
	align-items: start;
}
.TabNav_2w9e0_v8-4-2 .TabNav_Items_3Zncp_v8-4-2 .InputSearch_Container_pz5Oj_v6-1-9 {
	display:flex;
	margin-left:auto;
	padding:4px 10px 6px 14px;
}
.searchingfor {
	padding-bottom:20px;
}

.no-results + .EmptyArea {
	display:none !important;
}
/*sites sidebar*/
.SitesSidebarSites .InputSearch_Container_pz5Oj_v6-1-9 {
	border-top: solid 0.5px #e7e7e7;
    border-bottom: solid 0.5px #e7e7e7;
    margin: 0 -30px;
    padding: 5px 30px;
}
